/* Write your CSS here */
.main-container {
  display: flex;
  flex-direction: row;
}

.event-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #64748b;
  padding: 30px;
  min-height: 100vh;
}

.event-heading {
  color: #f8fafc;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 35px;
}

.event-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
