/* Write your CSS here */
.not-active-event {
  color: #475569;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  text-align: center;
  padding: 30px;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 150px;
  width: 290px;
}

.closed-heading {
  color: #323f4b;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
}

.description {
  color: #323f4b;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto';
}

.registered-heading {
  color: #323f4b;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Roboto';
}

.image-registered {
  height: 70px;
  width: 70px;
}

.register-button {
  background-color: #0967d2;
  color: #ffffff;
  border: none;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
  align-self: stretch;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
